---
import "../styles/global.css";
import { LINKS } from "../lib/constants";

interface Props {
	title: string;
	description: string;
	page?: "travel" | "blog";
	slug?: string | undefined;
	pubDate?: string;
}

const { title, description, page, slug, pubDate } = Astro.props;
const image =
	page === "travel"
		? `${Astro.url.origin}/preview.webp"`
		: `${Astro.url.origin}/preview.png`;

const schema =
	page !== "blog"
		? {
				"@context": "http://schema.org",
				"@type": "Person",
				name: "Hoach",
				url: Astro.url.origin,
				sameAs: [LINKS.linkedin, LINKS.github],
				image: `${Astro.url.origin}/preview.png`,
				jobTitle: "Fullstack Developer",
				worksFor: {
					"@type": "Organization",
					name: "Self-Employed",
					address: {
						"@type": "PostalAddress",
						addressLocality: "Italy",
						addressCountry: "IT",
					},
				},
				nationality: {
					"@type": "Country",
					name: "Italy",
				},
			}
		: {
				"@context": "http://schema.org",
				"@type": "BlogPosting",
				mainEntityOfPage: {
					"@type": "WebPage",
					"@id": `${Astro.url.origin}/blog/${slug}`,
				},
				headline: title || title,
				description: description || title,
				image: `${Astro.url.origin}/preview.png`, //TODO: dynamic
				author: {
					"@type": "Person",
					name: "Hoach",
					url: Astro.url.origin,
					sameAs: [LINKS.linkedin, LINKS.github],
				},
				publisher: {
					"@type": "Organization",
					name: "Hoach",
					logo: {
						"@type": "ImageObject",
						url: `${Astro.url.origin}/preview.png`,
					},
				},
				datepubDate: pubDate || new Date().toISOString(),
				dateModified: pubDate || new Date().toISOString(),
			};
---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/favicon.ico" rel="icon" type="image/x-icon" />
		<meta content={Astro.generator} name="generator" />
		<title>{title}</title>
		<meta content={description} name="description" />
		<meta content="index, follow" name="robots" />
		<!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
		<meta content={title} property="og:title" />
		<meta content={description} property="og:description" />
		<meta content="website" property="og:type" />
		<meta content={Astro.url.origin} property="og:url" />
		<meta
			content={image || `${Astro.url.origin}/preview.png`}
			property="og:image"
		/>
		<!-- Basic Twitter Card tags -->
		<meta content="summary_large_image" name="twitter:card" />
		<meta content={title} name="twitter:title" />
		<meta content={description} name="twitter:description" />
		<meta
			content={image || `${Astro.url.origin}/preview.png`}
			name="twitter:image"
		/>

		<link href="https://cdn.fontshare.com" rel="preconnect" />
		<link
			href="https://api.fontshare.com/v2/css?f[]=zodiak@100,101,300,301,400,401,700,701,800,801,900,901&display=swap"
			rel="stylesheet"
		/>
		{
			page === "travel" && (
				<link href={`${Astro.url.origin}/travel`} rel="canonical" />
			)
		}
		{
			page === "blog" && (
				<link
					href={`${Astro.url.origin}/blog/${slug}`}
					rel="canonical"
				/>
			)
		}
		<script
			is:inline
			set:html={JSON.stringify(schema)}
			type="application/ld+json"
		/>
	</head>
	<body
		class="bg-darkslate-700 md:h-screen flex flex-col justify-center items-center"
	>
		<slot name="loader" />
		<slot />
	</body>
</html>

<style is:global>
	body {
		margin: 0;
		font-family: "Satoshi", sans-serif;
		-webkit-font-smoothing: antialiased;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Cabinet Grotesk", sans-serif;
	}
	p {
		font-family: "Satoshi";
	}

	b {
		font-weight: 700 !important;
	}
</style>
